// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@import "global"

//
// @Variables
// Keystroke Variables
//
$include-html-keystroke-classes ?= $include-html-classes

// We use these to control text styles.
$keystroke-font ?= "Consolas", "Menlo", "Courier", monospace
$keystroke-font-size ?= inherit
$keystroke-font-color ?= #222
$keystroke-font-color-alt ?= #fff
$keystroke-function-factor ?= -7%

// We use this to control keystroke padding.
$keystroke-padding ?= $rem-calc(2 4 0)

// We use these to control background and border styles.
$keystroke-bg ?= lighten(#fff, $keystroke-function-factor)
$keystroke-border-style ?= solid
$keystroke-border-width ?= 1px
$keystroke-border-color ?= lighten($keystroke-bg, $keystroke-function-factor)
$keystroke-radius ?= $global-radius

//
// @Mixins
// Keystroke Mixins
//

// We use this mixin to create keystroke styles.
// $bg - Default ?= $keystroke-bg || scale-color(#fff, $lightness: $keystroke-function-factor)
keystroke($bg=$keystroke-bg)
	// This find the lightness percentage of the background color.
	$bg-lightness = lightness($bg)

	background-color $bg
	border-color lighten($bg, $keystroke-function-factor)

	// We adjust the font color based on the brightness of the background.
	if $bg-lightness > 70%
		color $keystroke-font-color

	else
		color $keystroke-font-color-alt

	border-style $keystroke-border-style
	border-width $keystroke-border-width
	margin 0
	font-family $keystroke-font
	font-size $keystroke-font-size
	padding $keystroke-padding

//
// @Block
// Flex Video Block
//

if $include-html-keystroke-classes and !$module.keystroke

	$module.keystroke =
		.keystroke
		kbd
			keystroke()
			radius($keystroke-radius)
