// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@import "global"

//
// @Variables
// Magellan Variables
//
$include-html-magellan-classes ?= $include-html-classes

$magellan-bg ?= #fff
$magellan-padding ?= 10px

//
// @Block
// Magellan Block
//

if $include-html-magellan-classes and !$module.magellan
	$module.magellan = true
	
	{data(magellan-expedition)}
	{data(magellan-expedition-clone)}
		background $magellan-bg
		z-index 50
		min-width 100%
		padding $magellan-padding

		.sub-nav
			margin-bottom 0
			dd
				margin-bottom 0
			a
				line-height 1.8em
