// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@import "global"
@import "type"

//
// @Variables
// Offcanvas Variables
//

// Off Canvas Tab Bar Variables
$include-html-off-canvas-classes ?= $include-html-classes

$tabbar-bg ?= $oil
$tabbar-height ?= $rem-calc(45)
$tabbar-icon-width ?= $tabbar-height
$tabbar-line-height ?= $tabbar-height
$tabbar-color ?= $white
$tabbar-middle-padding ?= 0 $rem-calc(10)

// Off Canvas Divider Styles
$tabbar-left-section-border ?= solid 1px lighten($tabbar-bg, -50%)
$tabbar-right-section-border ?= $tabbar-left-section-border


// Off Canvas Tab Bar Headers
$tabbar-header-color ?= $white
$tabbar-header-weight ?= $font-weight-bold
$tabbar-header-line-height ?= $tabbar-height
$tabbar-header-margin ?= 0

// Off Canvas Menu Variables
$off-canvas-width ?= $rem-calc(250)
$off-canvas-bg ?= $oil

// Off Canvas Menu List Variables
$off-canvas-label-padding ?= 0.3rem $rem-calc(15)
$off-canvas-label-color ?= $aluminum
$off-canvas-label-text-transform ?= uppercase
$off-canvas-label-font-size ?= $rem-calc(12)
$off-canvas-label-font-weight ?= $font-weight-bold
$off-canvas-label-bg ?= $tuatara
$off-canvas-label-border-top ?= 1px solid lighten($off-canvas-label-bg, 14%)
$off-canvas-label-border-bottom ?= none
$off-canvas-label-margin ?= 0
$off-canvas-link-padding ?= $rem-calc(10, 15)
$off-canvas-link-color ?= rgba($white, 0.7)
$off-canvas-link-border-bottom ?= 1px solid lighten($off-canvas-bg, -25%)
$off-canvas-back-bg ?= $tuatara
$off-canvas-back-border-top ?= $off-canvas-label-border-top
$off-canvas-back-border-bottom ?= $off-canvas-label-border-bottom
$off-canvas-back-hover-bg ?= lighten($off-canvas-back-bg, -30%)
$off-canvas-back-hover-border-top ?= 1px solid lighten($off-canvas-label-bg, 14%)
$off-canvas-back-hover-border-bottom ?= none

// Off Canvas Menu Icon Variables
$tabbar-menu-icon-color ?= $white
$tabbar-menu-icon-hover ?= lighten($tabbar-menu-icon-color, -30%)

$tabbar-menu-icon-text-indent ?= $rem-calc(35)
$tabbar-menu-icon-width ?= $tabbar-icon-width
$tabbar-menu-icon-height ?= $tabbar-height
$tabbar-menu-icon-padding ?= 0

$tabbar-hamburger-icon-width ?= $rem-calc(16)
$tabbar-hamburger-icon-left ?= false
$tabbar-hamburger-icon-top ?= false
$tabbar-hamburger-icon-thickness ?= 1px
$tabbar-hamburger-icon-gap ?= 6px

// Off Canvas Back-Link Overlay
$off-canvas-overlay-transition ?= background 300ms ease
$off-canvas-overlay-cursor ?= pointer
$off-canvas-overlay-box-shadow ?= -4px 0 4px rgba($black, 0.5), 4px 0 4px rgba($black, 0.5)
$off-canvas-overlay-background ?= rgba($white, 0.2)
$off-canvas-overlay-background-hover ?= rgba($white, 0.05)

// Transition Variables
$menu-slide ?= transform 500ms ease

//
// @Mixins
// Offcanvas Mixins
//

// Remove transition flicker on phones
kill-flicker()
  // -webkit-transform: translateZ(0x);
  -webkit-backface-visibility hidden

// Basic properties for the content wraps
wrap-base()
  position relative
  width 100%

// basic styles for off-canvas menu container
off-canvas-menu($position)

  kill-flicker()

  *
    kill-flicker()

  width $off-canvas-width
  top 0
  bottom 0
  position absolute
  overflow-y auto
  background $off-canvas-bg
  z-index 1001
  box-sizing content-box
  transition transform 500ms ease 0s
  -webkit-overflow-scrolling touch

  if $position is left
    transform translate3d(-100.5%,0,0)
    left 0

  if $position is right
    transform translate3d(100.5%,0,0)
    right 0

// OFF CANVAS WRAP
// Wrap visible content and prevent scroll bars
off-canvas-wrap()

  kill-flicker()
  wrap-base()

  overflow hidden

  &.move-right
  &.move-left
    min-height 100%
    -webkit-overflow-scrolling touch

// INNER WRAP
// Main content area that moves to reveal the off-canvas nav
inner-wrap()

  kill-flicker()
  wrap-base()
  clearfix()
  transition $menu-slide

// TAB BAR
// This is the tab bar base
tab-bar-base()

  kill-flicker()

  // base styles
  background $tabbar-bg
  color $tabbar-color
  height $tabbar-height
  line-height $tabbar-line-height

  // make sure it's below the .exit-off-canvas link
  position relative
  // z-index 999

  // Typography
  h1,h2,h3,h4,h5,h6
    color $tabbar-header-color
    font-weight $tabbar-header-weight
    line-height $tabbar-header-line-height
    margin $tabbar-header-margin

  h1,h2,h3,h4
    font-size $h5-font-size

// SMALL SECTIONS
// These are small sections on the left and right that contain the off-canvas toggle buttons;
tabbar-small-section($position)

  width $tabbar-icon-width
  height $tabbar-height
  position absolute
  top 0

  if $position is left
    border-right $tabbar-left-section-border
    // box-shadow 1px 0 0 lighten($tabbar-bg, 13%)
    left 0

  if $position is right
    border-left $tabbar-right-section-border
    // box-shadow -1px 0 0 lighten($tabbar-bg, -50%)
    right 0

tab-bar-section()

  padding $tabbar-middle-padding
  position absolute
  text-align center
  height $tabbar-height
  top 0

  @media $medium-up
    &.left
    &.right
      text-align left

  // still need to make these non-presentational
  &.left
    left 0
    right $tabbar-icon-width

  &.right
    left $tabbar-icon-width
    right 0

  &.middle
    left $tabbar-icon-width
    right $tabbar-icon-width

// OFF CANVAS LIST
// This is the list of links in the off-canvas menu
off-canvas-list()
  list-style-type none
  padding 0
  margin 0

  li
    label
      display block
      padding $off-canvas-label-padding
      color $off-canvas-label-color
      text-transform $off-canvas-label-text-transform
      font-size $off-canvas-label-font-size
      font-weight $off-canvas-label-font-weight
      background $off-canvas-label-bg
      border-top $off-canvas-label-border-top
      border-bottom $off-canvas-label-border-bottom
      margin $off-canvas-label-margin

    a
      display block
      padding $off-canvas-link-padding
      color $off-canvas-link-color
      border-bottom $off-canvas-link-border-bottom

      &:hover
        background lighten($tabbar-bg, -30%)

      transition background 300ms ease


// BACK LINK
// This is an overlay that, when clicked, will toggle off the off canvas menu
back-link()

    kill-flicker()

    transition $off-canvas-overlay-transition
    cursor $off-canvas-overlay-cursor
    box-shadow $off-canvas-overlay-box-shadow

    // fill the screen
    display block
    position absolute
    background $off-canvas-overlay-background
    top 0
    bottom 0
    left 0
    right 0
    z-index 1002
    -webkit-tap-highlight-color rgba(0,0,0,0)

    @media $medium-up
      &:hover
        background $off-canvas-overlay-background-hover


//
// @Block
// Offcanvas Block
//

if $include-html-off-canvas-classes and !$module.offcanvas
  $module.offcanvas = true

  .off-canvas-wrap
    off-canvas-wrap()

  .inner-wrap
    inner-wrap()

  .tab-bar
    tab-bar-base()

  .left-small
    tabbar-small-section($position: left)

  .right-small
    tabbar-small-section($position: right)

  .tab-bar-section
    tab-bar-section()

  // MENU BUTTON
  // This is a little bonus. You don't need it for off canvas to work. Mixins to be written in the future.
  .tab-bar .menu-icon
    text-indent $tabbar-menu-icon-text-indent
    width $tabbar-menu-icon-width
    height $tabbar-menu-icon-height
    display block
    padding $tabbar-menu-icon-padding
    color $tabbar-menu-icon-color
    position relative
    transform translate3d(0,0,0)

    // @include for the hamburger menu-icon
    //
    // Arguments as follows: ($width, $left, $top, $thickness, $gap, $color, $hover-color)
    // $width - Width of hamburger icon in rem Default: $tabbar-hamburger-icon-width.
    // $left - If false, icon will be centered horizontally || explicitly set value in rem Default: $tabbar-hamburger-icon-left= False
    // $top - If false, icon will be centered vertically || explicitly set value in rem Default: = False
    // $thickness - thickness of lines in hamburger icon, set value in px Default: $tabbar-hamburger-icon-thickness = 1px
    // $gap - spacing between the lines in hamburger icon, set value in px Default: $tabbar-hamburger-icon-gap = 6px
    // $color - icon color Default: $tabbar-menu-icon-color
    // $hover-color - icon color when hovered Default: $tabbar-menu-icon-hover
    // $offcanvas - Set to true
    hamburger($tabbar-hamburger-icon-width, $tabbar-hamburger-icon-left, $tabbar-hamburger-icon-top, $tabbar-hamburger-icon-thickness, $tabbar-hamburger-icon-gap, $tabbar-menu-icon-color, $tabbar-menu-icon-hover, true)

  .left-off-canvas-menu
    off-canvas-menu($position: left)

  .right-off-canvas-menu
    off-canvas-menu($position: right)

  ul.off-canvas-list
    off-canvas-list()


  // ANIMATION CLASSES
  // These classes are added with JS and trigger the actual animation.
  .move-right
    > .inner-wrap
      transform translate3d($off-canvas-width,0,0)

    .exit-off-canvas
      back-link()

  .move-left
    > .inner-wrap
      transform translate3d(-($off-canvas-width),0,0)

    .exit-off-canvas
      back-link()

  .offcanvas-overlap
    .left-off-canvas-menu
    .right-off-canvas-menu
      transform none
      z-index 1003

    .exit-off-canvas
      back-link()

  .offcanvas-overlap-left
    .right-off-canvas-menu
      transform none
      z-index 1003

    .exit-off-canvas
      back-link()

  .offcanvas-overlap-right
    .left-off-canvas-menu
      transform none
      z-index 1003

    .exit-off-canvas
      back-link()

  // Older browsers
  .no-csstransforms
    .left-off-canvas-menu
      left -($off-canvas-width)

    .right-off-canvas-menu
      right -($off-canvas-width)

    .move-left > .inner-wrap
      right $off-canvas-width

    .move-right > .inner-wrap
      left $off-canvas-width

//
// @Mixins
// Off-Canvas Submenu Classes
//
off-canvas-submenu($position)
  kill-flicker()

  *
    kill-flicker()

  width $off-canvas-width
  top 0
  bottom 0
  position absolute
  margin 0
  overflow-y auto
  background $off-canvas-bg
  z-index 1002
  box-sizing content-box
  -webkit-overflow-scrolling touch

  if $position is left
    transform translate3d(-100%,0,0)
    left 0

  else if $position is right
    transform translate3d(100%,0,0)
    right 0

  transition $menu-slide

  //back button style like label
  .back > a
    padding $off-canvas-label-padding
    color $off-canvas-label-color
    text-transform $off-canvas-label-text-transform
    font-weight $off-canvas-label-font-weight
    background $off-canvas-back-bg
    border-top $off-canvas-back-border-top
    border-bottom $off-canvas-back-border-bottom

    &:hover
      background $off-canvas-back-hover-bg
      border-top $off-canvas-back-hover-border-top
      border-bottom $off-canvas-back-hover-border-bottom

    margin $off-canvas-label-margin

    if $position is right
      if $text-direction is rtl
        &:before
          icon-double-arrows($position: left)

      else
        &:after
          icon-double-arrows($position: right)

    else if $position is left
      if $text-direction is rtl
        &:after
          icon-double-arrows($position: right)

      else
        &:before
          icon-double-arrows($position: left)

//Left double angle quote or Right double angle quote chars
icon-double-arrows($position)
  if $position is left
    content "\AB"

    if $text-direction is rtl
      margin-left 0.5rem

    else
      margin-left 0.5rem

  else if $position is right
    content "\BB"

    if $text-direction is rtl
      margin-right 0.5rem

    else
      margin-left 0.5rem

   display inline


//
// @Block
// Off-Canvas Submenu Classes
//
if $include-html-off-canvas-classes
  .left-submenu
    off-canvas-submenu($position: left)

    &.move-right
      transform translate3d(0%,0,0)

  .right-submenu
    off-canvas-submenu($position: right)

    &.move-left
      transform translate3d(0%,0,0)

  if $text-direction is rtl
    .left-off-canvas-menu ul.off-canvas-list li.has-submenu > a:before
      icon-double-arrows($position: left)

    .right-off-canvas-menu ul.off-canvas-list li.has-submenu > a:after
      icon-double-arrows($position: right)

  else
    .left-off-canvas-menu ul.off-canvas-list li.has-submenu > a:after
      icon-double-arrows($position: right)

    .right-off-canvas-menu ul.off-canvas-list li.has-submenu > a:before
      icon-double-arrows($position: left)
