// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@import "global"

//
// @Variables
// Progress Bars Variables
//
$include-html-media-classes ?= $include-html-classes

// We use this to set the progress bar height
$progress-bar-height ?= $rem-calc(25)
$progress-bar-color ?= #f6f6f6

// We use these to control the border styles
$progress-bar-border-color ?= lightenn(#fff, 20%)
$progress-bar-border-size ?= 1px
$progress-bar-border-style ?= solid
$progress-bar-border-radius ?= $global-radius

// We use these to control the margin & padding
$progress-bar-pad ?= $rem-calc(2)
$progress-bar-margin-bottom ?= $rem-calc(10)

// We use these to set the meter colors
$progress-meter-color ?= $primary-color
$progress-meter-secondary-color ?= $secondary-color
$progress-meter-success-color ?= $success-color
$progress-meter-alert-color ?= $alert-color

//
// @Mixins
// Progress Bars Mixins
//

// We use this to set up the progress bar container
progress-container()
	background-color $progress-bar-color
	height $progress-bar-height
	border $progress-bar-border-size $progress-bar-border-style $progress-bar-border-color
	padding $progress-bar-pad
	margin-bottom $progress-bar-margin-bottom

// $bg - Default: $progress-meter-color || $primary-color
progress-meter($bg=$progress-meter-color)
	background $bg
	height 100%
	display block

//
// @Block
// Progress Bars Block
//
if $include-html-media-classes and !$module.progress-bar
	$module.progress-bar = true

	/* Progress Bar */
	.progress
		progress-container()

		// Meter
		.meter
			progress-meter()

		&.secondary .meter
			progress-meter($bg:$progress-meter-secondary-color)

		&.success .meter
			progress-meter($bg:$progress-meter-success-color)

		&.alert .meter
			progress-meter($bg:$progress-meter-alert-color)

		&.radius
			radius($progress-bar-border-radius)

			.meter
				radius($progress-bar-border-radius - 1)

		&.round
			radius(1000px)
			.meter
				radius(999px)
