// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

@import "global"

//
// @Variables
// Thumbs Variables
//
$include-html-media-classes ?= $include-html-classes

// We use these to control border styles
$thumb-border-style ?= solid
$thumb-border-width ?= 4px
$thumb-border-color ?= $white
$thumb-box-shadow ?= 0 0 0 1px rgba($black,.2)
$thumb-box-shadow-hover ?= 0 0 6px 1px rgba($primary-color,0.5)

// Radius and transition speed for thumbs
$thumb-radius ?= $global-radius
$thumb-transition-speed ?= 200ms

//
// @Mixins
// Thumbs Mixins
//

// We use this to create image thumbnail styles.
//
// $border-width - Width of border around thumbnail. Default: $thumb-border-width.
// $box-shadow - Box shadow to apply to thumbnail. Default: $thumb-box-shadow.
// $box-shadow-hover - Box shadow to apply on hover. Default: $thumb-box-shadow-hover.
thumb(
	$border-width=$thumb-border-width,
	$box-shadow=$thumb-box-shadow,
	$box-shadow-hover=$thumb-box-shadow-hover
)
	line-height 0
	display inline-block
	border $thumb-border-style $border-width $thumb-border-color
	max-width 100%
	box-shadow $box-shadow

	&:hover
	&:focus
		box-shadow $box-shadow-hover

//
// @Block
// Thumbs Block
//

if $include-html-media-classes and !$module.thumb
	$module.thumb = true

	/* Image Thumbnails */
	.th
		thumb()
		transition all $thumb-transition-speed ease-out

		&.radius
			radius($thumb-radius)
