// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source
@require 'nib'

// Behold here are all the Foundation components.
@require "foundation/settings"
@require "foundation/components/grid"
@require "foundation/components/accordion"
@require "foundation/components/alert-boxes"
@require "foundation/components/block-grid"
@require "foundation/components/breadcrumbs"
@require "foundation/components/button-groups"
@require "foundation/components/buttons"
@require "foundation/components/clearing"
@require "foundation/components/dropdown"
@require "foundation/components/dropdown-buttons"
@require "foundation/components/flex-video"
@require "foundation/components/forms"
@require "foundation/components/icon-bar"
@require "foundation/components/inline-lists"
@require "foundation/components/joyride"
@require "foundation/components/keystrokes"
@require "foundation/components/labels"
@require "foundation/components/magellan"
@require "foundation/components/orbit"
@require "foundation/components/pagination"
@require "foundation/components/panels"
@require "foundation/components/pricing-tables"
@require "foundation/components/progress-bars"
@require "foundation/components/range-slider"
@require "foundation/components/reveal"
@require "foundation/components/side-nav"
@require "foundation/components/split-buttons"
@require "foundation/components/sub-nav"
@require "foundation/components/switches"
@require "foundation/components/tables"
@require "foundation/components/tabs"
@require "foundation/components/thumbs"
@require "foundation/components/tooltips"
@require "foundation/components/top-bar"
@require "foundation/components/type"
@require "foundation/components/offcanvas"
@require "foundation/components/visibility"
